!!! 1.0
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
    %head
        %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
        - add_to_title "Kurs komputerowy"
        %title= render_title
        = javascript_include_tag "jquery-1.4.2"
        = raw render_javascripts

        = stylesheet_link_tag "reset", "main"
        = raw render_stylesheets

    %body
        #main_container
            #top_bar
                .left_item
                    .item-content
                        = yield :top_left_item
                .right_item
                    .item-content
                        = yield :top_right_item
                .center_item
                    .item-content
                        = yield :top_center_item


            #content_container
                - unless flash.empty?
                    %ul#flash_container
                        - flash.each do |type, flash|
                            %li{:class => "#{type}-flash flash"}= flash
                = yield

